@model EstadoReal.Models.Empleado

@{
    ViewData["Title"] = "Registrar";
}

<link href="~/css/EmpleadoCrear.css" rel="stylesheet" type="text/css" />


<div class="contenedor-nav">
    <nav>
        <input type="checkbox" id="menu" class="hidden" />
        <label class="logo-Volver" for="menu"><img src="~/img/VolverIcon.png" alt="Volver" /></label>
        <label class="logo-1" for="menu"><img src="~/img/MenuBlack.png" alt="Menu" /></label>
        <div class="logo-2"><a asp-action="Index"><img src="~/img/ERIcon1Black.png" alt="Estado Real" /></a></div>
        <div class="logo-3"><a asp-controller="Home" asp-action="Logout"><img src="~/img/SalirIcon.png" alt="Cerrar Sesion" /></a></div>
    </nav>
</div>

<div class="nav-display" id="nav">
    <div><a asp-controller="Propietario" asp-action="index">Propietarios</a></div>
    <div><a asp-controller="Inmueble" asp-action="index">Inmuebles</a></div>
    <div><a asp-controller="Inquilino" asp-action="index">Inquilinos</a></div>
    <div><a asp-controller="Contrato" asp-action="index">Contratos</a></div>
    <div><a asp-controller="Pago" asp-action="index">Pagos</a></div>
    <div><a asp-controller="Empleado" asp-action="Edit">Configuracion</a></div>
    <div><a asp-controller="Home" asp-action="Logout">Salir</a></div>
</div>

<div class="contenedor-formulario-registrar">

    <div class="contenedor-bienvenida">
        <h2>Registar nuevo empleado: No te olvides de llenar todos los campos.</h2>
    </div>
    <div class="contenedor-crear">
        <div class="imagen-usuario"> <img src="~/img/User2.png" alt="crear empleado" /></div>
        <div></div>
        <p>Crear empleado</p>
    </div>
    <div class="contenedor-formulario">
        <form asp-action="Create" class="formulario">
            <div class="contendor-f1">
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" placeholder="Nombre" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Apellido" class="control-label"></label>
                    <input asp-for="Apellido" class="form-control" placeholder="Apellido" />
                    <span asp-validation-for="Apellido" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Dni" class="control-label"></label>
                    <input asp-for="Dni" class="form-control" placeholder="Dni" />
                    <span asp-validation-for="Dni" class="text-danger"></span>
                </div>
            </div>
            <div class="contendor-f1">
                <div class="form-group">
                    <label asp-for="Correo" class="control-label"></label>
                    <input asp-for="Correo" class="form-control" placeholder="Correo" />
                    <span asp-validation-for="Correo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Clave" class="control-label"></label>
                    <input asp-for="Clave" class="form-control" type="password" placeholder="Contraseña" />
                    <span asp-validation-for="Clave" class="text-danger"></span>
                </div>
            </div>
            <div class="contendor-f1">
                <div class="form-group ultimo">
                    <a asp-action="Index">Cancelar</a>
                    <input type="submit" value="Crear" class="btn-1" />
                </div>
            </div>
            <div> <p class="mensaje-error">@ViewBag.Mensaje</p></div>
        </form>
    </div>
</div>

<script>

            let check = document.getElementById("menu");
            let nav = document.getElementById("nav");
            let contenido = document.getElementById("mostrar");

            check.addEventListener('click', () => {
                if (check.checked) {
                    nav.style.display = "flex";
                    contenido.style.display = "none";
                } else {
                    nav.style.display = "none";
                    contenido.style.display = "flex";
                }
            });

</script>