@model EstadoReal.Models.Inmueble

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Inmueble</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label asp-for="UsoResidencial" class="control-label"></label>
                <select asp-for="UsoResidencial" >
                    <option value="0">No</option>
                    <option value="1" selected>Sí</option>
                </select>
                <span asp-validation-for="UsoResidencial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <select asp-for="Tipo">
                    <option value="Departamento">Departamento</option>
                    <option value="Local" >Local</option>
                    <option value="Deposito" >Deposito</option>
                    <option value="Oficina" >Oficina</option>
                    <option value="Individual" >Individual</option>
                </select>
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ambientes" class="control-label"></label>
                <input asp-for="Ambientes" class="form-control" />
                <span asp-validation-for="Ambientes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label asp-for="Disponibilidad" class="control-label"></label>
                <select asp-for="Disponibilidad">
                    <option value="0">Ocupado</option>
                    <option value="1" selected>Disponible</option>
                </select>
                <span asp-validation-for="Disponibilidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPropietario" class="control-label"></label>
                <input asp-for="IdPropietario" class="form-control" />
                <span asp-validation-for="IdPropietario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

