@model IEnumerable<EstadoReal.Models.Contrato>

@{
    ViewData["Title"] = "ListContratos";
}

<link href="~/css/EmpleadoCrear.css" rel="stylesheet" type="text/css" />

<div class="contenedor-nav">
    <nav>
        <input type="checkbox" id="menu" class="hidden" />
        <label class="logo-Volver" for="menu"><img src="~/img/VolverIcon.png" alt="Volver" /></label>
        <label class="logo-1" for="menu"><img src="~/img/MenuBlack.png" alt="Menu" /></label>
        <div class="logo-2"><a asp-action="Index"><img src="~/img/ERIcon1Black.png" alt="Estado Real" /></a></div>
        <div class="logo-3"><a asp-controller="Home" asp-action="Logout"><img src="~/img/SalirIcon.png" alt="Cerrar Sesion" /></a></div>
    </nav>
</div>

<div class="nav-display" id="nav">
    <div><a asp-controller="Propietario" asp-action="index">Propietarios</a></div>
    <div><a asp-controller="Inmueble" asp-action="index">Inmuebles</a></div>
    <div><a asp-controller="Inquilino" asp-action="index">Inquilinos</a></div>
    <div><a asp-controller="Contrato" asp-action="index">Contratos</a></div>
    <div><a asp-controller="Pago" asp-action="index">Pagos</a></div>
    <div><a asp-controller="Empleado" asp-action="Index">Configuracion</a></div>
    <div><a asp-controller="Home" asp-action="Logout">Salir</a></div>
</div>


<div class="contenedor-formulario-registrar">

    <div class="contenedor-bienvenida">
        <h2>Lista de contratos.</h2>
    </div>

    <div class="contenedor-formulario">
        @foreach (var item in Model)
        {
            <div class="contendor-f1">
                <div class="form-group">
                    <p class="control-label">Inicio Contrato: @item.InicioContrato</p>
                </div>
                <div class="form-group">
                    <p class="control-label">Fin Contrato: @item.FinContrato</p>
                </div>
                <div class="form-group">
                    <p class="control-label">Deudas: @item.Deudas</p>
                </div>
            </div>
            <div class="contendor-f1">
                <div class="form-group">
                    @foreach (var i in (IList<Inquilino>)ViewBag.TodosInquilinos)
                    {
                        if (i.IdInquilino == item.IdInquilino)
                        {
                            <p class="control-label">Inquilino: @(i.Nombre + " " + i.Apellido)</p>
                        }
                    }
                </div>
            </div>

        }
        <div class="contendor-f1">
            <div class="form-group ultimo">
                <a asp-action="Index">Volver</a>
            </div>
        </div>
    </div>
</div>

<script>

    let check = document.getElementById("menu");
    let nav = document.getElementById("nav");
    let contenido = document.getElementById("mostrar");

    check.addEventListener('click', () => {
        if (check.checked) {
            nav.style.display = "flex";
            contenido.style.display = "none";
        } else {
            nav.style.display = "none";
            contenido.style.display = "flex";
        }
    });

</script>