@model IEnumerable<EstadoReal.Models.Pago>

@{
    ViewData["Title"] = "VerPagos";
}

<link href="~/css/EmpleadoDetalles.css" type="text/css" rel="stylesheet" />

<div class="contenedor-nav">
    <nav>
        <input type="checkbox" id="menu" class="hidden" />
        <label class="logo-Volver" for="menu"><img src="~/img/VolverIcon.png" alt="Volver" /></label>
        <label class="logo-1" for="menu"><img src="~/img/MenuBlack.png" alt="Menu" /></label>
        <div class="logo-2"><a asp-action="VistaPropietarioIndex"><img src="~/img/ERIcon1Black.png" alt="Estado Real" /></a></div>
        <div class="logo-3"><a asp-controller="Home" asp-action="Logout"><img src="~/img/SalirIcon.png" alt="Cerrar Sesion" /></a></div>
    </nav>
</div>

<div class="nav-display" id="nav">
    <div><a asp-controller="Propietario" asp-action="VistaPropietarioIndex">Propietarios</a></div>
    <div><a asp-controller="Home" asp-action="Logout">Salir</a></div>
</div>


<div class="contenedor-formulario-registrar">

    <div class="contenedor-bienvenida">
        <h2>pagos</h2>
    </div>
    @foreach (var item in (IList<Contrato>)ViewBag.Contratos)
    {

        @foreach (var i in (IList<Pago>)ViewBag.pagos)
        {

            @if (item.IdContrato == i.IdContrato)
            {
                <div class="contenedor-formulario">
                    <div class="contendor-f1">
                        <div class="form-group">
                            <p>Monto</p>
                        </div>
                        <div class="form-group data">
                            <p>@i.Monto</p>
                        </div>
                        <div class="form-group">
                            <p>Pagado</p>
                        </div>
                        <div class="form-group data">
                            @if (i.Pagado == 1)
                            {
                                <p>
                                    Cancelado
                                </p>
                            }
                            else
                            {
                                <p>
                                    Pendiente
                                </p>
                            }
                        </div>
                        <div class="form-group">
                            <p>Fecha</p>
                        </div>
                        <div class="form-group data">
                            <p>@i.Fecha</p>
                        </div>
                    </div>

                    <div class="contendor-f1">
                        <div class="form-group">
                            <p>Numero de pago</p>
                        </div>
                        <div class="form-group data">
                            <p>@i.NroPago</p>
                        </div>
                    </div>
                </div>
            }
        }
    }
    <div class="contendor-f1">
        <div class="form-group ultimo" style="margin-bottom: 50px;">
            <a asp-action="VistaPropietarioIndex" style="margin-left: 0;">Volver</a>
        </div>
    </div>
</div>

<script>

    let check = document.getElementById("menu");
    let nav = document.getElementById("nav");
    let contenido = document.getElementById("mostrar");

    check.addEventListener('click', () => {
        if (check.checked) {
            nav.style.display = "flex";
            contenido.style.display = "none";
        } else {
            nav.style.display = "none";
            contenido.style.display = "flex";
        }
    });

</script>