@model EstadoReal.Models.Contrato

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Contrato</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <input type="hidden" name="IdContrato" value="@Model.IdContrato" />
            </div>
            <div class="form-group">
                <label asp-for="InicioContrato" class="control-label"></label>
                <input type="date" name="InicioContrato"/>
                <span asp-validation-for="InicioContrato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinContrato" class="control-label"></label>
                <input type="date" name="FinContrato"/>
                <span asp-validation-for="FinContrato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deudas" class="control-label"></label>
                <input asp-for="Deudas" type="number" step="any" class="form-control" />
                <span asp-validation-for="Deudas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

