@model EstadoReal.Models.LoginView

@{
    ViewData["Title"] = "Login";
}

<link href="~/css/HomeLogin.css" rel="stylesheet" type="text/css" />

<div class="background"></div>
<div class="gradient"></div>


<div class="contenedor-nav">
    <nav>
        <div class="logo-1"><a asp-action="Index"><img src="~/img/VolverIconWhite.png" alt="Volver" /></a></div>
        <div class="logo-2"><a asp-action="Index"><img src="~/img/ERIcon1.png" alt="Estado Real" /></a></div>
        <div class="logo-3"><a asp-action="Login"><img src="~/img/User1.png" alt="Iniciar Sesion" /></a></div>
    </nav>
</div>

<div class="contenedor-login">
    <div class="contenedor-formulario-login">
        <form asp-action="Login" class="formulario-login">
            <div>
                <img src="~/img/ERLogo1.png" alt="Estado Real Logo" />
            </div>
            <div> <p class="mensaje-error"> @ViewBag.Mensaje</p> </div>
            <div class="fomulario-div">
                <input asp-for="Usuario" class="txt-box1" placeholder="Usuario" />
                <span asp-validation-for="Usuario"></span>
            </div>
            <div class="fomulario-div">
                <input asp-for="Clave" class="txt-box1" placeholder="Contraseña" />
                <span asp-validation-for="Clave"></span>
            </div>
            <div class="fomulario-div">
                <input type="submit" value="Iniciar Sesion" class="btn-1" />
            </div>
        </form>
        <div>
            <a asp-action="Registrar">Registrate</a>
        </div>
    </div>
</div>